<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio Número 1</title>
</head>
<body>
    <h2>{{ titulo }}</h2>

    <form action="{% url 'ejercicios:respuesta1' %}" method="post">
        {% csrf_token %}
        Número1:
        <input type="text" name="n1"><br>
        Número2:
        <input type="text" name="n2"><br>
        
        Calcular:
        <select name="calcular">
            <option value="Sumar" selected="selected">Sumar</option>
            <option value="Restar">Restar</option>
            <option value="Multiplicar">Multiplicar</option>
        </select> <br>
        <!-- Boton de enviar -->
        <input type="submit" name="submit">

    </form>

</body>
</html>


